<header>
 <section class="top">
  <div class="container-fluid" id="tlo">
   <div class="row no-gutters">
    <div class="col-md-12 col-lg-5 offset-lg-1">
	 <div id="left">
		 
		  <div id="toplogo">
		   <img src="{{ asset('images/top/logotop.png') }}" class="img-fluid" alt="logo"/>
		  </div>
		  <div id="topinfo">
		  <p>Witaj na oficjalnej stronie<br>
	      Młodzieżowej Orkiestry Dętej Gminy Rząśnia<br>
	      Na tej stronie znajdziesz wszystkie informacje na temat Naszej orkiestry.</p>
		  </div>
		  
	 </div>
	</div>
	<div class="col-md-12 col-lg-5" offset-lg-1>
	 <div id="right">
		 <div id="slider">
			
		 </div>
		 <div id="slidernad">
		  <img src="{{ asset('images/top/nad.png') }}" width="500px" height="400px" class="img-fluid" alt="logo"/>
		 </div>
	 </div>
	</div>
   </div>
  </div>
 </section>

    <div class="page">
<nav>
   <div id="top">
   


<div id="menu">

<div id="cssmenu">


<ul>
   <li class="selected"><a href="{{ asset('/') }}" class="menu"><span>Strona Główna</span></a></li>
    <li class='active has-sub'><a href="{{ asset('galeria') }}" class="menu"><span>Galeria</span></a><span class="rozwin">+</span>
      <ul>
         <li><a href="{{ asset('galeria-yt') }}" class="menu"><span>Filmy</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href="{{ asset('repertuar') }}" class="menu"><span>Repertuar</span></a><span class="rozwin">+</span>
      <ul>
         <li><a href="{{ asset('posluchaj-nas') }}" class="menu"><span>Posłuchaj nas</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href="{{ asset('informacje') }}" class="menu"><span>Informacje</span></a><span class="rozwin">+</span>
      <ul>
         <li><a href="{{ asset('osiagniecia') }}" class="menu"><span>Osiągnięcia</span></a></li>
         <li><a href="{{ asset('czlonkowie') }}" class="menu"><span>Członkowie</span></a></li>
         <li><a href="{{ asset('kapelmistrz') }}" class="menu"><span>Kapelmistrz</span></a></li>
      </ul>
   </li>
   <li class='last'><a href="{{ asset('kontakt') }}" class="menu"><span>Kontakt</span></a></li>
</ul>


</div>

</div>



   </div>
</nav>
  </div>
  </header>